@use '../base/variables' as vars;
@use '../base/gutter' as gutter;

@each $breakpoint, $size in vars.$breakpoints {
    @media (min-width: #{$size}) {
        @for $i from 1 through vars.$grid-columns {
            .col-#{$breakpoint}-#{$i} {
                flex: 0 0 calc($i / vars.$grid-columns * $i);
                max-width: calc( $i/ vars.$grid-columns * $i);
            }
        }
    }
}

@each $breakpoint, $size in vars.$breakpoints {
    @media (min-width: #{$size}) {
      @each $num, $sp in gutter.$spacing-sizes {
        .gx-#{$breakpoint}-#{$num} {
          --gutter-x: #{$sp};
        }
        .gy-#{$breakpoint}-#{$num} {
          --gutter-y: #{$sp};
        }
      }
    }
  }